/*************************************************************
**************************************************************
*** 
*** FONTS
***
**************************************************************
*************************************************************/
@font-face {
    font-family: 'kelson';
    src: url('../fonts/kelson_rg-webfont.eot');
    src: url('../fonts/kelson_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_rg-webfont.woff2') format('woff2'),
         url('../fonts/kelson_rg-webfont.woff') format('woff'),
         url('../fonts/kelson_rg-webfont.ttf') format('truetype'),
         url('../fonts/kelson_rg-webfont.svg#kelson') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kelson-bold';
    src: url('../fonts/kelson_bd-webfont.eot');
    src: url('../fonts/kelson_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_bd-webfont.woff2') format('woff2'),
         url('../fonts/kelson_bd-webfont.woff') format('woff'),
         url('../fonts/kelson_bd-webfont.ttf') format('truetype'),
         url('../fonts/kelson_bd-webfont.svg#kelson') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolis';
    src: url('../fonts/metropolis-bold-webfont.eot');
    src: url('../fonts/metropolis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('../fonts/metropolis-bold-webfont.woff') format('woff'),
         url('../fonts/metropolis-bold-webfont.ttf') format('truetype'),
         url('../fonts/metropolis-bold-webfont.svg#metropolis') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************
***
*** RESET & TRICK
***
*************************************************************/
* {    
	box-sizing: border-box;   
	margin: 0;    
	padding: 0;  
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	line-height: 1.5; 
}

html {    
	box-sizing: border-box;  
}

*, *:before, *:after {    
	box-sizing: inherit;  
}


.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex-container .item {
	flex-basis: 23%;
}


div img{
	vertical-align: bottom;
}

img {
	max-width: 100%;
	height: auto;
	zoom :1;
}


/*************************************************************
**************************************************************
*** 
*** CSS GENERAL
***
**************************************************************
*************************************************************/
body{
	font-family: 'kelson', 'arial', 'helvetica', sans-serif;
	font-size: 16px;
}

#main-container{
	padding: 60px 15px;
}

.modal{
	display: none;
}

h2,h3,h4{
	font-family: 'metropolis', 'arial', 'helvetica', sans-serif;
	color: #d5313a;
}

h2{
	font-size: 1.5em;
	margin-bottom: 20px;
	margin-top: 0px;
}


h3{
	font-size: 1.125em;
	margin-bottom: 0;
}

h4{
	color: #778085;
	font-size: 1.1em;
}

.red{
	color: #d5313a;
}

section{
	background-color: #fff;
	box-shadow: 0 0 10px rgba(100,100,100,0.25);
	margin-bottom: 45px;
	padding: 15px;
	border: 1px solid #F0F0F0;
}

section > div:not(:first-child){
	margin-top: 20px;
}

.div-minus{
	width: 90%;
	margin: auto;
	position: relative;
}

#loading-svg{
	position: absolute;
	top:0; bottom: 0; right: 0; left: 0;
	background-color: #fff;
	text-align: center;
}

#loading-svg img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.div-minus h3{
	margin-bottom: 10px;
}

.btn-custom{
	border: 1px solid #dadada;
	color: #778085;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(222,222,222,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%,rgba(222,222,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(222,222,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.btn-custom:hover{
	border: 1px solid #d5313a;
	color: #d5313a;
}

.btn-custom span{
	padding-right: 10px;
}

.btn-area-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.btn-area-col{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin-bottom: 30px;
}

.btn-area-col a:not(:first-child){
	margin-top: 15px;
}

.padding-left{
	padding-left: 45px;
}

ul{
	list-style-type: none;
}

.alert-infos{
	font-size: 0.85em;
	color: #d5313a;
	text-align: center;
}

/*************************************************************
**	CSS DU NAV
*************************************************************/
#top-nav{
	background-color: #778085;
	height: 40px;
}

#top-nav h1{
	font-size: 1.563em;
	color: #fff;
	line-height: 40px;
	margin-top: 0; margin-bottom: 0;
}

#top-nav ul li{
	display: inline-block;
	width: 50%;
	box-shadow: 3px 0 3px rgba(0,0,0,0.3) inset;
	-webkit-transition: background-color 1.5s;
	transition: background-color 1.5s;
}

#top-nav ul li:hover{
	background-color: #41474A;
}

#top-nav a{
	display: block;
	width: 100%;
	padding-left: 10px;
	font-size: 1.1em;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

#top-nav a span{
	margin-right: 10px;
}

#top-nav-ul{
	padding-right: 0px;
}

#main-nav{
	position: fixed;
	z-index: 1000;
	top:40px;
	left: 0;
	bottom: 0;
	background-color: #fff;
	box-shadow: 5px 0 5px rgba(0,0,0,0.2);
}

#main-nav .nav-logo{
	padding: 15px;
	background-color: #d5313a;
}

#main-nav-menu{
	display: inline-block;
	width: 100%;
}

#main-nav-menu li{
	width: 100%;
	border-bottom: 1px solid #778085;
	border-top: 1px solid #fff;
}

#main-nav-menu li:hover{
	width: 100%;
	border-top: 1px solid #fff;
}

#main-nav-menu a{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
	color: #778085;
	font-size: 1.1em;
	text-decoration: none;
}

#main-nav-menu a:hover{
	color: #fff;
	background-color:#dadada;
	background-color: rgb(213,49,58); /* Old browsers */
	background-color: -moz-linear-gradient(top, rgba(213,49,58,1) 0%, rgba(181,40,47,1) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5313a', endColorstr='#b5282f',GradientType=0 ); /* IE6-9 */
}

#main-nav-menu .active-nav-link{
	color: #fff;
	background-color:#dadada;
	background-color: rgb(213,49,58); /* Old browsers */
	background-color: -moz-linear-gradient(top, rgba(213,49,58,1) 0%, rgba(181,40,47,1) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5313a', endColorstr='#b5282f',GradientType=0 ); /* IE6-9 */
}

.active-nav-link .link-plus{
	color: #fff;
}

#main-nav-menu a span{
	margin-right: 5px;
}

.link-plus{
	color: #d5313a;
	position: absolute;
	margin:auto;
	right: 0;
	top: 50%;
	transform: translate(-50%,-50%);
}

#main-nav-menu a:hover .link-plus{
	color: #fff;
}

#main-nav-menu .nav-submenu{
	display: none;
	box-shadow: 0 5px 5px rgba(150,150,150,0.4) inset;
}

#main-nav-menu .nav-submenu li{
	border-bottom: none;
}

#main-nav-menu .nav-submenu li:hover{
	border-bottom: none;
}

#main-nav-menu .nav-submenu a{
	font-size: 1em;
	color: #000;
	padding-left: 10%;
	background-color: transparent;
}

#main-nav-menu .nav-submenu .active-nav-link {
	font-size: 1em;
	color: #000;
	padding-left: 10%;
	background-color: transparent;
}

#main-nav-menu .nav-submenu li a:hover{
	color: #d5313a;
	background-color: transparent;
}

#main-nav-menu .nav-submenu li a span{
	color: #d5313a;
	font-weight: bold;
}

#background-nav{
	display: none;
}

.form-group-lg .form-control{
	font-size: 16px;
}

/*************************MEDIA QUERIES DU NAV************************/
@media screen and (max-width: 992px){

	#main-container{
		padding-top: 120px;
	}

	#main-nav{
		max-height: 100px;
		min-height: 100px;
		top:0px;
		bottom: initial;
	}

	#main-nav .nav-logo {
		position: relative;
		display: block;
		height: 100px;
		background-color: #d5313a;
	}

	#main-nav .nav-logo img{
		position: absolute;
		max-width: 95%;
		min-width: 95%;
    	margin: 0;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}

	.nav-header{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.btn-nav{
		padding: 25px 0;
		text-align: center;
		font-size: 1.3em;
		line-height: 1em;
		cursor: pointer;
		z-index: 1000;
	}

	#close-nav{
		display: none;
	}

	#main-nav .nav-title{
		max-height: 100px;
		min-height: 100px;
		overflow: scroll;
	}

	#main-nav h1{
		font-size: 1.8em;
		line-height: 100px;
		margin: 0;
		color: #778085;
	}


	#main-nav-menu{
		display: none;
		position: fixed;
		top: 0; bottom: 0; left: 0;
		padding-top: 100px;
		margin-bottom: 0;
		width: 35%;
		background-color: #fff;
		z-index: 500;
	}

	#background-nav{
		display: none;
		position: fixed;
		top: 0; bottom: 0; left: 0; right: 0;
		background-color: #778085 ;
		opacity: 0.5;
	}

}

@media screen and (max-width: 770px){
	#main-nav h1{
		display: none;
	}
}


/*************************************************************
**************************************************************
*** 
*** CSS LOGIN
***
**************************************************************
*************************************************************/

#login-container{
	margin-top: 50px;
}

#login-img-container{
	margin-bottom: 70px;
}

#login-img-container img{
	height: 80px;
}


#login-form{
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	padding: 50px;
}

#login-form label{
	vertical-align: middle;
}


/*************************************************************
**************************************************************
*** 
*** CSS DES MODULES INDEX
***
**************************************************************
*************************************************************/
.current-exhibit h2, #current-exhibit-part h2{
	margin-bottom: 0;
}

.current-exhibit .date, #current-exhibit-part .date{
	font-size: 1.250em;
	color: #778085;
}

.current-exhibit .summary, #current-exhibit-part .summary{
	padding-left: 20px;
}


/************     Module expo splité    **************/
.exhibit-count{
	min-width: 100%;
	background-color: #d5313a;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin-top: -15px;
	margin-left: -15px;
	margin-right: -15px;
}
#current-exhibit-part{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#current-exhibit-part .exhibit-box{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 50%;
}

#current-exhibit-part .exhibit-box:not(:last-child){
	padding-right: 10px;
}

#current-exhibit-part .exhibit-box:not(:first-child){
	padding-left: 10px;
}

#current-exhibit-part .exhibit-picture{
	position: relative;
	max-width: 100%;
	min-width: 100%;
	height: 200px;
	min-height: 100px;
	overflow: hidden;
}

#current-exhibit-part img{
	position: absolute;
	top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
	max-width: 100%;
	min-width: 100%;
}

/************     Prochaine expo   **************/
#next-exhibit{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 10px 0;
	margin: 0;
	margin-bottom: -15px;
}

#next-exhibit .icon{
	display: flex;
	width: 50px;
	background-color: #778085;
	color: #fff;
	box-shadow: 5px 0 5px rgba(150,150,150, 0.2);
	margin-bottom: -10px;
	margin-left: -15px;
	margin-top: -10px;
	margin-right: 10px;
	align-items: center;
}

#next-exhibit .icon span{
	text-align: center;
	min-width: 100%;
	line-height: 100%;
	font-size: 3.5em;
}


/*************************************************************
**************************************************************
*** 
*** CSS FORMULAIRES
***
**************************************************************
*************************************************************/

.gutter-left{
	margin-left: -15px;
}

.gutter-right{
	margin-right: -15px;
}

@media screen and (max-width: 768px){
	.gutter-left{
		margin-right: -15px;
		margin-left: -15px;
	}

	.gutter-right{
		margin-right: -15px;
		margin-left: -15px;
	}
}

textarea{
	min-width: 100%;
	max-width: 100%;
}

fieldset textarea{
	min-height: 200px;
	height: 400px;
}

form select{
	border-bottom: 1px solid;
}

form option{
	padding: 5px;
}

.nav-tabs{
	border-color: #778085;
}

.nav-tabs li.active > a{
	border: 1px solid #778085;
	border-bottom-color: transparent;
}

.nav-tabs li.active > a:hover{
	border: 1px solid #778085;
	border-bottom-color: transparent;
	cursor: pointer;
}

.nav-tabs li > a{
	background-color: #ede8e8;
	border: 1px solid transparent;
	border-bottom-color: #778085;
	color: #778085;
}

.nav-tabs li > a:hover{
	background-color: #778085;
	border: 1px solid #778085;
	color: #ede8e8;
	cursor: pointer;
}

.tab-content{
	padding: 20px 5%;
	border: 1px solid #778085;
	border-top: none;
	margin-bottom: 20px;
	padding-bottom: 50px;
}

/*************************************************************
**************************************************************
*** 
*** CSS DES LISTES ET TABLEAUX
***
**************************************************************
*************************************************************/

.col-equal-height{
	overflow: hidden;
	width: 100%;
}

.col-equal-height [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-equal-height form{
	margin-top: 20px;
}

.col-equal-height button{
	margin-top: 20px;
}

.major-list-date{
	font-family: 'kelson-bold','arial', 'helvetica', sans-serif; ;
	color: #969ca0 ;
}

table{
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
}

thead{
	background-color: #c1c6c9;
	border: none;
}

thead th{
	text-align: center;
	font-weight: normal;
	border-bottom: none;
}

th, td{
	border-top: none;
	border-right: 1px solid #dadada;	
	border-left: 1px solid #dadada;
}

.table > tbody > tr > td{
	vertical-align:middle;
}

tbody{
	border-top: none;
	border-bottom: 1px solid #dadada;
}

.minor-list{
	padding: 0;
	box-shadow: none;
}

.minor-list ul{
	list-style-type: none;
	margin: 0;
}

.minor-list ul li{
	position: relative;
	display: block;
	padding: 5px;
}

.minor-list ul li:nth-child(odd){
	background-color: #ede8e8;
}

.minor-list h5{
	font-size: 1em;
	margin: 0;
	margin-bottom: 5px;
}

.minor-date{
	font-size: 0.875em;
	font-style: italic;
	color: #778085 ;
	margin-bottom: 0;
}

.minor-list a{
	display: inline-block;
	position: absolute;
	top:0; right: 0; bottom: 0; left: 0;
	color: #c1c6c9;
	transition: color 0.5s;
}

.minor-list a:hover{
	color: #9d9d9d;
}

.minor-list span{
	position: absolute;
	right: 5px; bottom: 5px; 
	font-size: 1.5em;
}

.event-list{
	padding: 15px 0 0 0;
}

.event-list ul{
	list-style-type: none;
	margin: 0;
}

.event-list ul li{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 10px;
}

.event-action{
	width: 20%;
	text-align: right;
}

.event-list ul li:nth-child(odd){
	background-color: #ede8e8;
}

.event-list h4{
	color: #d5313a;
}

.event-list p, .event-list h4{
	margin: 0;
}

.event-date{
	font-size: 1em;
	color: #778085 ;
}

.event-list ul li:nth-child(odd) .btn-group a{
	background-color: #fff;
}

.event-list .btn-group a{
	color: #d5313a ;
	background-color: #ede8e8;
}

.event-list .btn-group a:hover{
	color: #778085;
}

.event-description{
	font-size: 0.95em;
}

#recordedArtists{
	padding: 10px;
	background-color: #dadada;
	border: 1px solid #778085;
	max-height: 200px;
	height: 200px;
	overflow-y: scroll;
}

#selectedArtists{
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #d5313a;
	max-height: 200px;
	height: 200px;
	overflow-y: scroll;
}

#recordedArtists li, #selectedArtists li{
	padding: 5px;
	background-color: #fff;
	border: 1px solid #778085;
	font-size: 0.95em;
}

#selectedArtists li{
	border: 1px solid #d5313a;
}

#recordedArtists li:not(:last-child), #selectedArtists li:not(:last-child){
	margin-bottom: 5px;
}