#login-container{
	margin-top: 50px;
}

#login-img-container{
	margin-bottom: 70px;
}

#login-img-container img{
	height: 80px;
}


#login-form{
	background-color: #fff;
	@include shadow(0, 0, 10px, rgba(100,100,100,0.25), false);
	padding: 50px;
}

#login-form label{
	vertical-align: middle;
}