/**************************************************************
		Général
****************************************************************/
html{
	height: 100%;
}

$datart-blue : #95B3B2;
$datart-gray : #E5E7E4;
$datart-DarkGray :  #292929;

@mixin gradientGrayBlue(){
// background: rgb(229,231,228); /* Old browsers */
// background: -moz-linear-gradient(top, rgba(229,231,228,1) 0%, rgba(149,179,178,1) 100%) fixed; /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(229,231,228,1) 0%,rgba(149,179,178,1) 100%) fixed; Chrome10-25,Safari5.1-6
// background: linear-gradient(to bottom, rgba(229,231,228,1) 0%,rgba(149,179,178,1) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e4', endColorstr='#95b3b2',GradientType=0 ); /* IE6-9 */
background: -moz-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(149,179,178,0.53) 100%) fixed; /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,252,252,1) 0%,rgba(149,179,178,0.53) 100%) fixed; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,252,252,1) 0%,rgba(149,179,178,0.53) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin title(){
	font-family: 'kelson', sans-serif;
	color : #FFF;
	padding : 30px;
	background-color : #95B3B2;
}

body{
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	@include gradientGrayBlue();
	position: relative;
	line-height: 1.5em;
	font:{
		family:'kelson', 'arial', 'helvetica', sans-serif;
		size: 16px;
	}
}

img, object, embed, video{
	max-width: 100%;
}


h2{
	@include title();
	font-size: 1.8em;
	margin: 0 0;
}

h3{
	@include title();
	font-size: 1.5em;
}

h4{
	@include title();
	font-size: 1.3 em;
}

section{
	margin: 0 auto;
	width: 90%;
}

p{
	color: $datart-DarkGray ;
}

a{
	color: $datart-DarkGray ;
}

ul, li{
	list-style-type: none;	
}

/**************************************************************


		le nav lang


****************************************************************/

.container{
	position: fixed;
	top: 0;
	right: 10px;
	border-radius: 0px 0px 10px 10px; 
	padding: 0;
	float: right;

	li>a{
		display: block;
		padding: 15px;
	}
	.dropdown{ 
		img{
		width: 25px;
		height: auto;
		}
		button.btn{
		box-shadow: 5px 0 5px rgba(60,60,60,0.5);
		padding: 10px;
		border-radius: 0px 0px 10px 10px; 
		}
	}
}



/**************************************************************


		le nav	


****************************************************************/

nav{
	.navbar_container{
		background: rgb(229,231,228); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(229,231,228,1) 0%, rgba(149,179,178,1) 100%) fixed; /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(229,231,228,1) 0%,rgba(149,179,178,1) 100%) fixed; /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(229,231,228,1) 0%,rgba(149,179,178,1) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e4', endColorstr='#95b3b2',GradientType=0 ); /* IE6-9 */
		
		-webkit-box-shadow: 0px 0px 20px 2px rgba(41,41,41,1);
		-moz-box-shadow: 0px 0px 20px 2px rgba(41,41,41,1);
		box-shadow: 0px 0px 20px 2px rgba(41,41,41,1);
		// background: rgb(182,183,181); /* Old browsers */
		// background: -moz-linear-gradient(top, rgba(182,183,181,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top, rgba(182,183,181,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom, rgba(182,183,181,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		display: inline-block;
		text-align: center;
		.nav{
			margin: 7.5px 0px;
			padding-left: none;
		li > a{
			padding: 15px 15px 15px 15px;
			color: $datart-DarkGray;
			&:hover{
			color: $datart-gray;
			}
		}
		}
	}
	.fa{
	font-size: 1.563em;
	}
}



/**************************************************************


		index (page où arrive le visiteur apres scan QR)	


****************************************************************/



/**************************************************************


		about 	


****************************************************************/
.container {
	width: 47px;
}

.container_logo{
	padding: 10px;
	width: 50%;
}

.presentation, .mentions_legales{
	padding: 20px;
	line-height: 20px;
}


/**************************************************************


		artist 	


****************************************************************/

.artist{
	padding: 10px;
	p{
	line-height: 20px;
	}
}

.listArtwork{
	padding: 10px;

}


/**************************************************************


		exhibit 	


****************************************************************/

.date{
	font-style: italic;
	margin: 10px 0 15px 0;
}

.list_artist{
	max-width: 100%;
	padding-bottom: 20px;
	padding-top: 10px;

	a{
		font-size: 1.2em;
		color: $datart-DarkGray;
	}
}

.list_artwork{
	a{
		color: #6a807;
		font-size: 1em;
		padding: 15px 0px 15px 30px;
	}
}

	
/**************************************************************


		artwork	


****************************************************************/

