/*************************************************************
**************************************************************
*** 
*** FONTS
***
**************************************************************
*************************************************************/
@font-face {
  font-family: 'kelson';
  src: url("../fonts/kelson_rg-webfont.eot");
  src: url("../fonts/kelson_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_rg-webfont.woff2") format("woff2"), url("../fonts/kelson_rg-webfont.woff") format("woff"), url("../fonts/kelson_rg-webfont.ttf") format("truetype"), url("../fonts/kelson_rg-webfont.svg#kelson") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kelson-bold';
  src: url("../fonts/kelson_bd-webfont.eot");
  src: url("../fonts/kelson_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_bd-webfont.woff2") format("woff2"), url("../fonts/kelson_bd-webfont.woff") format("woff"), url("../fonts/kelson_bd-webfont.ttf") format("truetype"), url("../fonts/kelson_bd-webfont.svg#kelson") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'metropolis';
  src: url("../fonts/metropolis-bold-webfont.eot");
  src: url("../fonts/metropolis-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis-bold-webfont.woff2") format("woff2"), url("../fonts/metropolis-bold-webfont.woff") format("woff"), url("../fonts/metropolis-bold-webfont.ttf") format("truetype"), url("../fonts/metropolis-bold-webfont.svg#metropolis") format("svg");
  font-weight: normal;
  font-style: normal; }
/* $generic-shadow : 0, 0, 0, rgba(100,100,100,0.25), false; */
/*IE9*/
img::selection {
  background-color: transparent; }

*::-moz-selection {
  background-color: transparent; }

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'kelson', 'arial', 'helvetica', sans-serif;
  font-size: 16px; }

#main-container {
  padding: 60px 15px; }

.modal {
  display: none; }

h2 {
  font-family: 'metropolis', 'arial', 'helvetica', sans-serif;
  color: #d5313a;
  margin: 10px 0 20px 0;
  font-size: 1.5em; }

h3 {
  font-family: 'metropolis', 'arial', 'helvetica', sans-serif;
  color: #d5313a;
  margin: 10px 0 20px 0;
  font-size: 1.125em;
  margin-bottom: 0; }

h4 {
  font-family: 'metropolis', 'arial', 'helvetica', sans-serif;
  color: #d5313a;
  margin: 10px 0 20px 0;
  color: #778085;
  font-size: 1.1em; }

section {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  margin-bottom: 45px;
  padding: 10px 15px;
  border: 1px solid #F0F0F0; }

.listing {
  padding: 0 15px; }
  .listing > div:not(:first-child) {
    margin-top: 20px; }
  .listing > div:nth-child(odd) {
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4f4f4 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f4f4f4 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
    padding-top: 10px; }
  .listing > div:nth-child(even) {
    margin-top: 0; }

#top-nav {
  background-color: #778085;
  height: 40px; }
  #top-nav h1 {
    font-size: 1.563em;
    color: #fff;
    line-height: 40px;
    margin: 0; }
  #top-nav #top-nav-ul {
    padding-right: 0; }
    #top-nav #top-nav-ul li {
      display: inline-block;
      width: 50%;
      -webkit-box-shadow: inset 3px 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 3px 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 3px 0 3px rgba(0, 0, 0, 0.3);
      -webkit-transition: background-color 1.5s;
      -moz-transition: background-color 1.5s;
      -ms-transition: background-color 1.5s;
      -o-transition: background-color 1.5s;
      transition: background-color 1.5s; }
      #top-nav #top-nav-ul li:hover {
        background-color: #41474A; }
      #top-nav #top-nav-ul li a, #top-nav #top-nav-ul #main-nav #main-nav-menu .nav-submenu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu #top-nav #top-nav-ul li .active-nav-link {
        display: block;
        width: 100%;
        padding-left: 10px;
        font-size: 1.1em;
        line-height: 40px;
        color: #fff;
        text-decoration: none; }
        #top-nav #top-nav-ul li a span, #top-nav #top-nav-ul #main-nav #main-nav-menu .nav-submenu li .active-nav-link span, #main-nav #main-nav-menu .nav-submenu #top-nav #top-nav-ul li .active-nav-link span {
          margin-right: 10px; }

#main-nav {
  position: fixed;
  z-index: 1000;
  top: 40px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); }
  #main-nav .nav-logo {
    padding: 15px;
    background-color: #d5313a; }
  #main-nav #main-nav-menu {
    display: inline-block;
    width: 100%; }
    #main-nav #main-nav-menu li {
      width: 100%;
      border-bottom: 1px solid #778085;
      border-top: 1px solid #fff; }
      #main-nav #main-nav-menu li.disabled-link a, #main-nav #main-nav-menu .nav-submenu li.disabled-link .active-nav-link {
        font-style: italic; }
        #main-nav #main-nav-menu li.disabled-link a:hover, #main-nav #main-nav-menu li.disabled-link .active-nav-link, #main-nav #main-nav-menu .nav-submenu li.disabled-link .active-nav-link:hover {
          color: #778085;
          background-color: #fff;
          cursor: not-allowed; }
      #main-nav #main-nav-menu li a, #main-nav #main-nav-menu .nav-submenu li .active-nav-link {
        position: relative;
        display: block;
        width: 100%;
        padding: 10px;
        color: #778085;
        text-decoration: none; }
        #main-nav #main-nav-menu li a:hover, #main-nav #main-nav-menu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu li .active-nav-link:hover {
          color: #fff;
          background-color: #dadada;
          background-color: #d5313a;
          /* Old browsers */
          background-color: -moz-linear-gradient(top, #d5313a 0%, #b5282f 100%);
          /* FF3.6-15 */
          background-color: -webkit-linear-gradient(top, #d5313a 0%, #b5282f 100%);
          /* Chrome10-25,Safari5.1-6 */
          background-color: linear-gradient(to bottom, #d5313a 0%, #b5282f 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5313a', endColorstr='#b5282f',GradientType=0 );
          /* IE6-9 */ }
          #main-nav #main-nav-menu li a:hover .link-plus, #main-nav #main-nav-menu li .active-nav-link .link-plus, #main-nav #main-nav-menu .nav-submenu li .active-nav-link:hover .link-plus {
            color: #fff; }
        #main-nav #main-nav-menu li a span, #main-nav #main-nav-menu .nav-submenu li .active-nav-link span {
          margin-right: 5px;
          margin-left: 5px; }
    #main-nav #main-nav-menu .active-nav-link .link-plus {
      color: #fff; }
    #main-nav #main-nav-menu .link-plus {
      color: #d5313a;
      position: absolute;
      margin: auto;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%); }
    #main-nav #main-nav-menu .nav-submenu {
      display: none;
      -webkit-box-shadow: inset 0 5px 5px rgba(150, 150, 150, 0.4);
      -moz-box-shadow: inset 0 5px 5px rgba(150, 150, 150, 0.4);
      box-shadow: inset 0 5px 5px rgba(150, 150, 150, 0.4); }
      #main-nav #main-nav-menu .nav-submenu li {
        border-bottom: none; }
        #main-nav #main-nav-menu .nav-submenu li:hover {
          border-bottom: none; }
        #main-nav #main-nav-menu .nav-submenu li a, #main-nav #main-nav-menu .nav-submenu li .active-nav-link {
          font-size: 1em;
          color: #000;
          padding-left: 10%;
          background-color: transparent; }
          #main-nav #main-nav-menu .nav-submenu li a:hover, #main-nav #main-nav-menu .nav-submenu li .active-nav-link {
            color: #d5313a; }
          #main-nav #main-nav-menu .nav-submenu li a span, #main-nav #main-nav-menu .nav-submenu li .active-nav-link span {
            color: #d5313a; }

@media screen and (max-width: 992px) {
  #main-container {
    padding-top: 120px; }

  #main-nav {
    max-height: 100px;
    min-height: 100px;
    top: 0px;
    bottom: initial; }
    #main-nav .nav-logo {
      position: relative;
      display: block;
      height: 100px;
      background-color: #d5313a; }
      #main-nav .nav-logo img {
        position: absolute;
        max-width: 95%;
        min-width: 95%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #main-nav .btn-nav {
      padding: 25px 0;
      text-align: center;
      font-size: 1.3em;
      line-height: 1em;
      cursor: pointer;
      z-index: 1000; }
    #main-nav #close-nav {
      display: none; }
    #main-nav .h1 {
      font-size: 1.8em;
      line-height: 100px;
      margin: 0;
      color: #778085; }
    #main-nav #main-nav-menu {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding-top: 100px;
      margin-bottom: 0;
      width: 35%;
      background-color: #fff;
      z-index: 500; }

  #background-nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #778085;
    opacity: 0.5; } }
@media screen and (max-width: 770px) {
  #main-nav h1 {
    display: none; } }
.red {
  color: #d5313a; }

.bold {
  font-family: 'kelson-bold'; }

.div-minus {
  width: 90%;
  margin: auto;
  position: relative; }
  .div-minus #loading-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    text-align: center; }
    .div-minus #loading-svg img {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .div-minus h3 {
    margin-bottom: 10px; }

.btn-custom {
  border: 1px solid #dadada;
  color: #778085;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 30%, #dedede 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 30%, #dedede 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 30%, #dedede 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
  /* IE6-9 */ }
  .btn-custom:hover {
    border: 1px solid #d5313a;
    color: #d5313a; }
  .btn-custom span {
    padding-right: 10px; }

.btn-area-row, .btn-area-col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.btn-area-col {
  flex-direction: column; }
  .btn-area-col a:not(:first-child), .btn-area-col #main-nav #main-nav-menu .nav-submenu li .active-nav-link:not(:first-child), #main-nav #main-nav-menu .nav-submenu li .btn-area-col .active-nav-link:not(:first-child) {
    margin-top: 15px; }
  .btn-area-col button:not(:first-child) {
    margin-top: 15px; }

.padding-left {
  padding-left: 45px; }

ul {
  list-style-type: none; }

.alert-infos {
  font-size: 0.85em;
  color: #d5313a;
  text-align: center; }

.form-group-lg .form-control {
  font-size: 16px; }

.modal-title, .alert-red {
  color: #d5313a; }

.alert-red {
  font-weight: bold; }

/* ***********************************************************
**
** CSS LOGIN
**
*********************************************************** */
#login-container {
  margin-top: 50px; }

#login-img-container {
  margin-bottom: 70px; }

#login-img-container img {
  height: 80px; }

#login-form {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  padding: 50px; }

#login-form label {
  vertical-align: middle; }

/* ***********************************************************
**
** CSS INDEX
**
*********************************************************** */
#current-exhibit {
  position: relative;
  padding: 0 15px 20px 15px;
  margin: 0 -15px 0 -15px;
  -webkit-box-shadow: 0 5px 2px rgba(100, 100, 100, 0.15);
  -moz-box-shadow: 0 5px 2px rgba(100, 100, 100, 0.15);
  box-shadow: 0 5px 2px rgba(100, 100, 100, 0.15); }
  #current-exhibit h2 {
    margin-bottom: 0; }
  #current-exhibit .date {
    font-size: 1.250em;
    color: #778085; }
  #current-exhibit .summary {
    padding-left: 20px;
    width: 50%; }
  #current-exhibit .exhibit-picture {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
    max-width: 45%;
    min-width: 45%;
    overflow: hidden; }
    #current-exhibit .exhibit-picture img {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      bottom: -100%;
      margin: auto;
      max-width: 110%;
      min-width: 110%; }

.exhibit-count {
  min-width: 100%;
  background-color: #d5313a;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: -15px;
  padding: 5px; }

#current-exhibit-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #current-exhibit-part .exhibit-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    min-width: 33%; }
    #current-exhibit-part .exhibit-box:not(:last-child) {
      padding-right: 10px; }
    #current-exhibit-part .exhibit-box:not(:first-child) {
      padding-left: 10px; }
    #current-exhibit-part .exhibit-box h2 {
      margin-bottom: 0; }
    #current-exhibit-part .exhibit-box .date {
      font-size: 1.250em;
      color: #778085; }
    #current-exhibit-part .exhibit-box .summary {
      padding-left: 20px; }
  #current-exhibit-part .exhibit-picture {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    min-height: 100px;
    overflow: hidden; }
    #current-exhibit-part .exhibit-picture img {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      bottom: -100%;
      margin: auto;
      max-width: 100%;
      min-width: 100%; }

#next-exhibit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  margin-bottom: -10px; }
  #next-exhibit .icon {
    display: flex;
    width: 50px;
    background-color: #778085;
    color: #fff;
    margin-bottom: -10px;
    margin-left: -15px;
    margin-top: -10px;
    margin-right: 10px;
    align-items: center; }
    #next-exhibit .icon span {
      text-align: center;
      min-width: 100%;
      line-height: 100%;
      font-size: 3.5em; }
  #next-exhibit .content {
    width: 100%; }
    #next-exhibit .content .next-date {
      font-family: 'metropolis';
      color: #778085; }
      #next-exhibit .content .next-date span {
        font-size: 1.2em; }

.module-title {
  background-color: #778085;
  color: #fff;
  text-align: center;
  margin: -15px -15px 0 -15px;
  padding: 10px; }

#last-creation li, #next-event li {
  text-align: center;
  margin: 0 -15px;
  padding: 5px 10px; }
  #last-creation li a, #next-event li a, #last-creation #main-nav #main-nav-menu .nav-submenu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu #last-creation li .active-nav-link, #next-event #main-nav #main-nav-menu .nav-submenu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu #next-event li .active-nav-link {
    color: #000; }
#last-creation li:nth-child(even), #next-event li:nth-child(even) {
  background-color: #c1c6c9; }
  #last-creation li:nth-child(even) a, #next-event li:nth-child(even) a, #last-creation #main-nav #main-nav-menu .nav-submenu li:nth-child(even) .active-nav-link, #main-nav #main-nav-menu .nav-submenu #last-creation li:nth-child(even) .active-nav-link, #next-event #main-nav #main-nav-menu .nav-submenu li:nth-child(even) .active-nav-link, #main-nav #main-nav-menu .nav-submenu #next-event li:nth-child(even) .active-nav-link {
    color: #000; }
#last-creation li:last-child, #next-event li:last-child {
  margin-bottom: -20px; }

/* ***********************************************************
**
** CSS USERS MANAGEMENT
**
*********************************************************** */
#reset-password {
  text-align: center; }
  #reset-password input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px; }

#formUsers table td {
  font-size: 0.95em;
  vertical-align: middle; }
  #formUsers table td span {
    color: #d5313a;
    margin-right: 5px; }

/***************************************************
**
** CSS ARTIST
**
***************************************************/
.artistPicture {
  border: 1px solid #d5313a;
  overflow: hidden; }
  .artistPicture img {
    width: 100%; }

/****************************************************
**
** CSS ARTWORK 
**
*****************************************************/
#managementArtworkList .listClassification {
  color: #A6AAAC;
  background-color: #e8e8e8;
  padding: 10px;
  margin: 0px -15px 0 -15px; }
  #managementArtworkList .listClassification:first-child {
    margin: -15px -15px 0 -15px; }

#artwork-main-visual {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  #artwork-main-visual div {
    min-width: 30%;
    padding: 0 10px; }
    #artwork-main-visual div p {
      text-align: center; }
    #artwork-main-visual div #visual-one, #artwork-main-visual div #visual-two, #artwork-main-visual div #visual-three {
      margin: auto;
      position: relative;
      border: 2px dashed #778085;
      border-radius: 15px;
      min-height: 100px;
      height: 200px;
      min-width: 100px;
      width: 200px;
      background-color: transparent;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 0;
      display: inline-block;
      text-align: center; }
      #artwork-main-visual div #visual-one::after, #artwork-main-visual div #visual-two::after, #artwork-main-visual div #visual-three::after {
        position: absolute;
        z-index: 1;
        content: '\f1c5';
        font-family: 'FontAwesome';
        text-align: center;
        vertical-align: middle;
        color: #778085;
        font-size: 5em;
        width: 50%;
        margin: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      #artwork-main-visual div #visual-one img, #artwork-main-visual div #visual-two img, #artwork-main-visual div #visual-three img {
        position: absolute;
        min-width: 150%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 2; }
    #artwork-main-visual div #caption-one, #artwork-main-visual div #caption-two, #artwork-main-visual div #caption-three {
      font-size: 0.85em; }
    #artwork-main-visual div textarea {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      min-height: 50px;
      height: 50px; }

input.input-file {
  display: none; }

.hidden {
  display: none; }

#artwork-secondary-visual {
  margin-top: 50px; }
  #artwork-secondary-visual .preview-gallery .img-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    text-align: center;
    height: 150px;
    width: 100%; }
  #artwork-secondary-visual .preview-gallery img {
    position: absolute;
    min-width: 150%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #artwork-secondary-visual .preview-gallery .caption textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px; }

#artwork-display .exhibit-passed {
  background-color: #e8e8e8;
  margin: 0 -15px;
  padding: 5px 10px; }
  #artwork-display .exhibit-passed h3 {
    color: #778085; }
#artwork-display .qrcode-area p {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  color: #d5313a; }
#artwork-display .qrcode-area #qrcode {
  text-align: center;
  text-align: center; }

#artwork-additionnal-content li {
  padding-bottom: 15px; }
  #artwork-additionnal-content li input {
    border-bottom-right-radius: 0; }
  #artwork-additionnal-content li .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0; }
  #artwork-additionnal-content li input + input {
    margin-top: 5px; }

/****************************************************
**
** CSS EXHIBIT ZONING
**
*****************************************************/
#zoning-header {
  padding: 0;
  height: 120px;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25); }
  #zoning-header .nav-logo {
    background-color: #d5313a;
    height: 120px;
    line-height: 120px; }
    #zoning-header .nav-logo img {
      display: inline-block;
      vertical-align: middle; }
  #zoning-header .nav-btn {
    padding: 25px; }
    #zoning-header .nav-btn a, #zoning-header .nav-btn #main-nav #main-nav-menu .nav-submenu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu li #zoning-header .nav-btn .active-nav-link {
      color: #000;
      font-size: 1.3em;
      text-decoration: none;
      vertical-align: middle; }
      #zoning-header .nav-btn a span, #zoning-header .nav-btn #main-nav #main-nav-menu .nav-submenu li .active-nav-link span, #main-nav #main-nav-menu .nav-submenu li #zoning-header .nav-btn .active-nav-link span {
        font-size: 1.5em; }

#action-header {
  width: 100%;
  border-radius: 0;
  background-color: #ede8e8; }
  #action-header a:hover, #action-header #main-nav #main-nav-menu .active-nav-link, #main-nav #main-nav-menu #action-header .active-nav-link {
    background-color: #778085;
    color: #fff; }

#availble-artwork {
  max-height: 700px;
  overflow: auto; }
  #availble-artwork h4 {
    margin-top: 20px;
    margin-bottom: 5px; }
  #availble-artwork .list-element {
    clear: both;
    border-top: 1px solid #778085;
    border-bottom: 1px solid #778085;
    margin-bottom: 5px; }
    #availble-artwork .list-element .text-area {
      display: inline-block;
      width: 70%; }
      #availble-artwork .list-element .text-area h3 {
        margin-bottom: 5px; }
      #availble-artwork .list-element .text-area p {
        margin-bottom: 0; }

.action-item-area {
  position: relative;
  float: right;
  width: 20%;
  max-height: 82px;
  max-height: 58px;
  padding: 10px 0;
  font-size: 1.8em;
  text-align: center;
  background-color: #c8c8c8;
  color: #fff;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8; }
  .action-item-area:hover {
    border-left: 1px solid #778085;
    border-right: 1px solid #778085;
    color: #778085; }

.ui-draggable-helper {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #d5313a;
  color: #000; }
  .ui-draggable-helper span {
    position: absolute;
    display: inline-block;
    font-size: 0.75em;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.ui-draggable-dropped {
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 2px solid #d5313a;
  background-color: #fff;
  color: #000; }
  .ui-draggable-dropped span {
    position: absolute;
    display: inline-block;
    font-size: 0.75em;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

#drop-area {
  position: relative;
  overflow: auto;
  -webkit-box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.15);
  -moz-box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.15);
  box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.15);
  padding: 25px;
  background: url("../../images/tiny_grid.png") repeat; }
  #drop-area #dropTarget {
    position: relative;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto; }
    #drop-area #dropTarget img {
      max-width: 1000px;
      min-width: 1000px;
      display: block;
      margin: auto;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none; }

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  -webkit-box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.25);
  -moz-box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.25);
  box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.25);
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px; }
  .dropzone.dz-clickable {
    cursor: pointer; }
    .dropzone.dz-clickable * {
      cursor: default; }
    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer; }
  .dropzone.dz-started .dz-message {
    display: none; }
  .dropzone.dz-drag-hover {
    border-style: solid; }
    .dropzone.dz-drag-hover .dz-message {
      opacity: 0.5; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px; }
    .dropzone .dz-preview:hover {
      z-index: 1000; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
    .dropzone .dz-preview.dz-file-preview .dz-image {
      border-radius: 20px;
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd); }
    .dropzone .dz-preview.dz-file-preview .dz-details {
      opacity: 1; }
    .dropzone .dz-preview.dz-image-preview {
      background: white; }
      .dropzone .dz-preview.dz-image-preview .dz-details {
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear; }
    .dropzone .dz-preview .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none; }
      .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline; }
    .dropzone .dz-preview:hover .dz-details {
      opacity: 1; }
    .dropzone .dz-preview .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%; }
      .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 1em;
        font-size: 16px; }
      .dropzone .dz-preview .dz-details .dz-filename {
        white-space: nowrap; }
        .dropzone .dz-preview .dz-details .dz-filename:hover span {
          border: 1px solid rgba(200, 200, 200, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }
        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis; }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
            border: 1px solid transparent; }
      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px; }
    .dropzone .dz-preview:hover .dz-image img {
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-filter: blur(8px);
      filter: blur(8px); }
    .dropzone .dz-preview .dz-image {
      border-radius: 20px;
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10; }
      .dropzone .dz-preview .dz-image img {
        display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-error .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px; }
      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
        display: block;
        width: 54px;
        height: 54px; }
    .dropzone .dz-preview.dz-processing .dz-progress {
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .dropzone .dz-preview.dz-complete .dz-progress {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in; }
    .dropzone .dz-preview:not(.dz-processing) .dz-progress {
      -webkit-animation: pulse 6s ease infinite;
      -moz-animation: pulse 6s ease infinite;
      -ms-animation: pulse 6s ease infinite;
      -o-animation: pulse 6s ease infinite;
      animation: pulse 6s ease infinite; }
    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      border-radius: 8px;
      overflow: hidden; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out; }
    .dropzone .dz-preview.dz-error .dz-error-message {
      display: block; }
    .dropzone .dz-preview.dz-error:hover .dz-error-message {
      opacity: 1;
      pointer-events: auto; }
    .dropzone .dz-preview .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      border-radius: 8px;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: white; }
      .dropzone .dz-preview .dz-error-message:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626; }

.gutter-left {
  margin-left: -15px; }

.gutter-right {
  margin-right: -15px; }

@media screen and (max-width: 768px) {
  .gutter-left {
    margin-right: -15px;
    margin-left: -15px; }

  .gutter-right {
    margin-right: -15px;
    margin-left: -15px; } }
textarea {
  min-width: 100%;
  max-width: 100%; }

fieldset textarea {
  min-height: 200px;
  height: 400px; }

form select {
  border-bottom: 1px solid; }

form option {
  padding: 5px; }

.nav-tabs {
  border-color: #778085; }
  .nav-tabs li.active > a, .nav-tabs #main-nav #main-nav-menu .nav-submenu li.active > .active-nav-link, #main-nav #main-nav-menu .nav-submenu .nav-tabs li.active > .active-nav-link {
    border: 1px solid #778085;
    border-bottom-color: transparent; }
    .nav-tabs li.active > a:hover, .nav-tabs #main-nav #main-nav-menu li.active > .active-nav-link, #main-nav #main-nav-menu .nav-tabs li.active > .active-nav-link, .nav-tabs #main-nav #main-nav-menu .nav-submenu li.active > .active-nav-link:hover {
      cursor: pointer; }
  .nav-tabs li > a, .nav-tabs #main-nav #main-nav-menu .nav-submenu li > .active-nav-link, #main-nav #main-nav-menu .nav-submenu .nav-tabs li > .active-nav-link {
    background-color: #ede8e8;
    border: 1px solid transparent;
    border-bottom-color: #778085;
    color: #778085; }
    .nav-tabs li > a:hover, .nav-tabs #main-nav #main-nav-menu li > .active-nav-link, #main-nav #main-nav-menu .nav-tabs li > .active-nav-link, .nav-tabs #main-nav #main-nav-menu .nav-submenu li > .active-nav-link:hover {
      background-color: #778085;
      border: 1px solid #778085;
      color: #ede8e8;
      cursor: pointer; }

.tab-content {
  padding: 20px 5%;
  border: 1px solid #778085;
  border-top: none;
  margin-bottom: 20px;
  padding-bottom: 50px; }

#formPhotoArea h3 {
  margin-bottom: 10px; }

.switch {
  position: relative;
  height: 46px;
  width: 320px;
  padding: 2px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 158px;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.35);
  text-align: center;
  cursor: pointer; }

.switch-label:active {
  font-weight: normal; }

.switch-label-off {
  padding-left: 2px; }

.switch-label-on {
  padding-right: 2px; }

.switch-input {
  display: none; }

.switch-input:checked + .switch-label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow; }

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 160px; }

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 158px;
  height: 42px;
  border: 1px solid #5B050A;
  border-radius: 3px;
  background-color: #d5313a;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out; }

.col-equal-height {
  overflow: hidden; }
  .col-equal-height [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px; }
  .col-equal-height form {
    margin-top: 20px; }
  .col-equal-height button {
    margin-top: 20px; }

.major-list-date {
  font-family: 'kelson-bold','arial', 'helvetica', sans-serif;
  color: #969ca0; }

table {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada; }
  table thead {
    background-color: #c1c6c9;
    border: none; }
    table thead th {
      text-align: center;
      font-weight: normal;
      border-bottom: none;
      border-top: none;
      border-right: 1px solid #dadada;
      border-left: 1px solid #dadada; }
  table tbody {
    border-top: none;
    border-bottom: 1px solid #dadada; }
    table tbody td {
      vertical-align: middle;
      border-top: none;
      border-right: 1px solid #dadada;
      border-left: 1px solid #dadada; }

.minor-list {
  padding: 0;
  box-shadow: none; }
  .minor-list ul {
    margin: 0; }
    .minor-list ul li {
      position: relative;
      display: block;
      padding: 5px; }
      .minor-list ul li:nth-child(odd) {
        background-color: #ede8e8; }
  .minor-list h5 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 5px; }
  .minor-list a, .minor-list #main-nav #main-nav-menu .nav-submenu li .active-nav-link, #main-nav #main-nav-menu .nav-submenu li .minor-list .active-nav-link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #c1c6c9;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .minor-list a:hover, .minor-list #main-nav #main-nav-menu .active-nav-link, #main-nav #main-nav-menu .minor-list .active-nav-link, .minor-list #main-nav #main-nav-menu .nav-submenu li .active-nav-link:hover, #main-nav #main-nav-menu .nav-submenu li .minor-list .active-nav-link:hover {
      color: #9d9d9d; }
  .minor-list span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 1.5em; }

.minor-date {
  font-size: 0.875em;
  font-style: italic;
  color: #778085;
  margin-bottom: 0; }

.event-list {
  padding: 15px 0 0 0; }
  .event-list ul {
    margin: 0; }
    .event-list ul li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 10px; }
      .event-list ul li:nth-child(odd) {
        background-color: #ede8e8; }
        .event-list ul li:nth-child(odd) .btn-group a, .event-list ul #main-nav #main-nav-menu .nav-submenu li:nth-child(odd) .btn-group .active-nav-link, #main-nav #main-nav-menu .nav-submenu .event-list ul li:nth-child(odd) .btn-group .active-nav-link {
          background-color: #fff; }
      .event-list ul li .btn-group a, .event-list ul #main-nav #main-nav-menu .nav-submenu li .btn-group .active-nav-link, #main-nav #main-nav-menu .nav-submenu .event-list ul li .btn-group .active-nav-link {
        color: #d5313a;
        background-color: #ede8e8; }
        .event-list ul li .btn-group a:hover, .event-list ul li .btn-group #main-nav #main-nav-menu .active-nav-link, #main-nav #main-nav-menu .event-list ul li .btn-group .active-nav-link, .event-list ul #main-nav #main-nav-menu .nav-submenu li .btn-group .active-nav-link:hover {
          color: #778085; }
      .event-list ul li .event-action {
        width: 20%;
        text-align: right; }
  .event-list h4 {
    color: #d5313a;
    margin: 0; }
  .event-list p {
    margin: 0; }
  .event-list .event-date {
    font-size: 1em;
    color: #d5313a; }
  .event-list .event-description {
    font-size: 0.95em; }

#exhibitLinkedArtist ul {
  padding: 10px;
  background-color: #dadada;
  border: 1px solid #778085;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll; }
  #exhibitLinkedArtist ul li {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #778085;
    font-size: 0.95em; }
    #exhibitLinkedArtist ul li:not(:last-child) {
      margin-bottom: 5px; }
#exhibitLinkedArtist #recordedArtists, #exhibitLinkedArtist #selectedArtists {
  padding: 10px;
  background-color: #dadada;
  border: 1px solid #778085;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll; }
  #exhibitLinkedArtist #recordedArtists li, #exhibitLinkedArtist #selectedArtists li {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #778085;
    font-size: 0.95em; }
    #exhibitLinkedArtist #recordedArtists li:not(:last-child), #exhibitLinkedArtist #selectedArtists li:not(:last-child) {
      margin-bottom: 5px; }
#exhibitLinkedArtist #selectedArtists {
  background-color: #fafafa;
  border: 1px solid #d5313a; }
  #exhibitLinkedArtist #selectedArtists li {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #d5313a;
    font-size: 0.95em; }
    #exhibitLinkedArtist #selectedArtists li:not(:last-child) {
      margin-bottom: 5px; }

/*# sourceMappingURL=styles.css.map */
