.gutter-left{
	margin-left: -15px;
}

.gutter-right{
	margin-right: -15px;
}

@media screen and (max-width: 768px){
	.gutter-left{
		margin-right: -15px;
		margin-left: -15px;
	}

	.gutter-right{
		margin-right: -15px;
		margin-left: -15px;
	}
}

textarea{
	min-width: 100%;
	max-width: 100%;
}

fieldset textarea{
	min-height: 200px;
	height: 400px;
}

form select{
	border-bottom: 1px solid;
}

form option{
	padding: 5px;
}


.nav-tabs{
	border-color: $datart-gray;

	li.active > a {
		border: 1px solid $datart-gray;
		border-bottom-color: transparent;

		&:hover{
			cursor: pointer;
		}
	}

	li > a {
		background-color: #ede8e8;
		border: 1px solid transparent;
		border-bottom-color: $datart-gray;
		color: $datart-gray;

		&:hover{
			background-color: $datart-gray;
			border: 1px solid $datart-gray;
			color: #ede8e8;
			cursor: pointer;
		}
	}
}

.tab-content{
	padding: 20px 5%;
	border: 1px solid  $datart-gray;
	border-top: none;
	margin-bottom: 20px;
	padding-bottom: 50px;
}

#formPhotoArea{
	h3{
		margin-bottom: 10px;
	}

}

.switch {
	position: relative;
	height: 46px;
	width: 320px;
	padding: 2px;
	background: #fff;
	border-radius: 3px;
	@include shadow(0, 1px, 3px, rgba(0, 0, 0, 0.5), true);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 158px;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.35);
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: normal;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 160px;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 158px;
  height: 42px;
  border:1px solid #5B050A;
  border-radius: 3px;
  background-color: $datart-red;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}