//IMPORT
@import '_font.scss';

$datart-red : #d5313a;
$datart-gray : #778085 ;
/* $generic-shadow : 0, 0, 0, rgba(100,100,100,0.25), false; */

//MIXIN
@mixin title(){
	font-family: 'metropolis', 'arial', 'helvetica', sans-serif;
	color : $datart-red;
	margin: 10px 0 20px 0;
}

@mixin shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin gradGrayToWhite(){
	background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


@mixin gradRedToRed(){
	background-color:#dadada;
	background-color: rgb(213,49,58); /* Old browsers */
	background-color: -moz-linear-gradient(top, rgba(213,49,58,1) 0%, rgba(181,40,47,1) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, rgba(213,49,58,1) 0%,rgba(181,40,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5313a', endColorstr='#b5282f',GradientType=0 ); /* IE6-9 */
}


// STYLES GENERIQUES

/*IE9*/
img::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

body{
	font:{
		family:'kelson', 'arial', 'helvetica', sans-serif;
		size: 16px;
	}
}

#main-container{
	padding: 60px 15px;
}

.modal{
	display: none;
}

h2{
	@include title();
	font-size: 1.5em;
}

h3{
	@include title();
	font-size: 1.125em;
	margin-bottom: 0;
}

h4{
	@include title();
	color : $datart-gray;
	font-size: 1.1em;
}

section{
	background-color: #fff;
	@include shadow(0, 0, 10px, rgba(100,100,100,0.25), false);
	margin-bottom: 45px;
	padding:10px 15px;
	border: 1px solid #F0F0F0;
}

.listing{
	padding: 0 15px;
	
	> div:not(:first-child){
		margin-top: 20px;
	}

	>div:nth-child(odd){
		@include gradGrayToWhite();
		padding-top:10px;
	}

	>div:nth-child(even){
		margin-top: 0;
	}
}

@import '_main-nav.scss';

.red{
	color: $datart-red;
}

.div-minus{
	width: 90%;
	margin: auto;
	position: relative;

	#loading-svg{
		position: absolute;
		top:0; bottom: 0; right: 0; left: 0;
		background-color: #fff;
		text-align: center;

		img{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	h3{
		margin-bottom: 10px;
	}
}

.btn-custom{
	border: 1px solid #dadada;
	color: $datart-gray;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(222,222,222,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%,rgba(222,222,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(222,222,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */

	&:hover{
		border: 1px solid #d5313a;
		color: $datart-red;
	}

	span{
		padding-right: 10px;
	}
}

.btn-area-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.btn-area-col{
	@extend .btn-area-row;
	flex-direction: column;

	a:not(:first-child){
		margin-top: 15px;
	}

	button:not(:first-child){
		margin-top: 15px;
	}
}

.padding-left{
	padding-left: 45px;
}

ul{
	list-style-type: none;
}

.alert-infos{
	font-size: 0.85em;
	color: #d5313a;
	text-align: center;
}

.form-group-lg .form-control{
	font-size: 16px;
}

.modal-title{
	color: $datart-red;
}

.alert-red{
	@extend .modal-title;
	font-weight: bold;
}

/* ***********************************************************
**
** CSS LOGIN
**
*********************************************************** */
@import '_login.scss';


/* ***********************************************************
**
** CSS INDEX
**
*********************************************************** */
@import '_index.scss';


/* ***********************************************************
**
** CSS USERS MANAGEMENT
**
*********************************************************** */
#reset-password{
	text-align:center;

	input[type="submit"]{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

#formUsers table{
	td{
		font-size:0.95em;
		vertical-align: middle;

	 	span{
			color: $datart-red;
			margin-right:5px;
		}
	}
}

/****************************************************
**
** CSS ARTWORK 
**
*****************************************************/
#managementArtworkList{
	.listClassification{
		color: #A6AAAC;
		background-color: #e8e8e8;
		padding:10px;
		margin:0px -15px 0 -15px;

		&:first-child{
			margin:-15px -15px 0 -15px;	
		}
	}
}

#artwork-main-visual{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	div{
		min-width: 30%;
		padding: 0 10px;


		p{
			text-align: center;
		}
		#visual-one, #visual-two, #visual-three{
			margin: auto;
			position: relative;
			border: 2px dashed $datart-gray;
			border-radius : 15px;
			min-height: 100px;
			height: 200px;
			min-width: 100px;
			width: 200px;
			background-color: transparent;
			margin-bottom: 10px;
			overflow: hidden;
			padding: 0;
			display: inline-block;
			text-align: center;



			&::after{
				position : absolute;
				z-index: 1;
				content: '\f1c5';
				font-family: 'FontAwesome';
				text-align: center;
				vertical-align: middle;
				color: $datart-gray;
				font-size: 5em;
				width: 50%;
  				margin: auto;
				top: 50%; left: 50%;
  				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}

			img{
				position: absolute;
				min-width: 150%;
				top: 50%; left: 50%;
  				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				z-index: 2;
			}
		}
		#caption-one, #caption-two, #caption-three{
			font-size: 0.85em;
		}

		textarea{
			min-width: 100%;
			width: 100%;
			max-width: 100%;
			min-height: 50px;
			height: 50px;
		}
	}

}

input.input-file{
    display: none;
}

.hidden{
	display: none;
}

#artwork-secondary-visual{
	margin-top:50px;

	.preview-gallery{
		.img-container{
			position: relative;
			overflow: hidden;
			padding: 0;
			display: inline-block;
			text-align: center;
			height: 150px;
			width: 100%;
		}
		img{
			position: absolute;
			min-width: 150%;
			top: 50%; left: 50%;
  			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
		.caption{
			textarea{
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				min-height: 50px;
				height: 50px;
				border-radius:5px;
				padding: 5px;
				margin-bottom: 10px;
			}
		}
	}
}
#artwork-display{
	.exhibit-passed{
		background-color: #e8e8e8;
		margin: 0 -15px;
    	padding: 5px 10px;
    	h3{
			color: $datart-gray;
		}
	}
	.qrcode-area{
		p{
			font-size: 0.7em;
			font-style: italic;
			text-align: center;
			color: $datart-red;
		}
		#qrcode{
			text-align: center;
			text-align: center;
		}
	}

}

#artwork-additionnal-content{
	li {
		padding-bottom: 15px;

		input{
		border-bottom-right-radius: 0;
		}

		.btn{
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: 0;
		}

		input + input{
			margin-top: 5px;
		}
	}
}


/****************************************************
**
** CSS EXHIBIT ZONING
**
*****************************************************/
#zoning-header{
	padding: 0;
	height: 120px;
	z-index:10;
	@include shadow(0, 0, 10px, rgba(100,100,100,0.25), false);
	.nav-logo{
		background-color: $datart-red;
		height: 120px;
		line-height: 120px;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}	
	.nav-btn{
		padding:25px;

		a{
			color: #000;
			font-size: 1.3em;
			text-decoration: none;
			vertical-align: middle;

			span{
				font-size: 1.5em;
			}
		}
	}
}
#action-header{
	width:100%;
	border-radius:0;
	background-color: #ede8e8;
	a:hover{
		background-color: $datart-gray;
		color: #fff;
	}
}
#availble-artwork{
	max-height:700px;
	overflow: auto;

	h4{
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.list-element{
		clear: both;
		border-top:1px solid $datart-gray;
		border-bottom:1px solid $datart-gray;
		height: 65px;
		margin-bottom: 5px;

		.text-area{
			display: inline-block;

			h3{
				margin-bottom: 5px;
			}

			p{
				margin-bottom: 0;
			}
		}

	}
}

.drag-area{
	position: relative;
	float: right;
	height: 63.4px;
	padding: 10px 15px;
	font-size: 1.8em;
	text-align: center;
	background-color: #c8c8c8;
	color: #fff;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;

	&:hover{
		border-left: 1px solid $datart-gray;
		border-right: 1px solid $datart-gray;
		color: $datart-gray;
		cursor: move;
	}
	
	.artwork-ref{
		position:absolute;
		display: none;
		z-index: 1000;
		text-align: center;
		padding: 5px;
		background-color: #fff;
		color: #000;
		font-size: 0.4em;
    	bottom: -40px;
    	left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.ui-draggable-helper{
	width:20px;
	height:20px;
	border-radius:20px;
	background-color: $datart-red;
	color: $datart-red;
}

.ui-draggable-dropped{
	position:absolute;
	z-index: 2000;
	width:20px;
	height:20px;
	border-radius:20px;
	border:1px solid $datart-red;
	background-color: #fff;
	color: #fff;
}

#drop-area{
	position: relative;
	@include shadow(0, 0, 10px, rgba(100,100,100,0.15), true);
	padding:25px;
	background: url("../../images/tiny_grid.png") repeat;

	img{
		position: relative;
		z-index: 0;
	}
}

//IMPORT DROPZONE
@import '_dropzone.scss';


//IMPORT
@import '_form.scss';

//IMPORT
@import '_table-list.scss';