@charset "UTF-8";
/**************************************************************
		G├®n├®ral
****************************************************************/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background: -moz-linear-gradient(top, #fffcfc 0%, rgba(149, 179, 178, 0.53) 100%) fixed;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fffcfc 0%, rgba(149, 179, 178, 0.53) 100%) fixed;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fffcfc 0%, rgba(149, 179, 178, 0.53) 100%) fixed;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  line-height: 1.5em;
  font-family: 'kelson', 'arial', 'helvetica', sans-serif;
  font-size: 16px; }

img, object, embed, video {
  max-width: 100%; }

h2 {
  font-family: 'kelson', sans-serif;
  color: #FFF;
  padding: 30px;
  background-color: #95B3B2;
  font-size: 1.8em;
  margin: 0 0; }

h3 {
  font-family: 'kelson', sans-serif;
  color: #FFF;
  padding: 30px;
  background-color: #95B3B2;
  font-size: 1.5em; }

h4 {
  font-family: 'kelson', sans-serif;
  color: #FFF;
  padding: 30px;
  background-color: #95B3B2;
  font-size: 1.3 em; }

h5 {
  font-size: 1.2em;
  color: #496665; }

section {
  margin: 0 auto;
  width: 90%; }

p {
  color: #292929;
  margin-top: 10px; }

a {
  color: #292929; }

ul, li {
  list-style-type: none; }

/**************************************************************


		le nav lang


****************************************************************/
.container {
  position: fixed;
  z-index: 2000;
  top: -15px;
  right: 10px;
  border-radius: 0px 0px 10px 10px;
  padding: 0;
  float: right; }
  .container li > a {
    display: block;
    padding: 15px; }
  .container .dropdown img {
    width: 25px;
    height: auto; }
  .container .dropdown button.btn {
    box-shadow: 5px 0 5px rgba(60, 60, 60, 0.5);
    padding: 10px;
    border-radius: 0px 0px 10px 10px; }

/**************************************************************


		le nav	


****************************************************************/
nav .navbar_container {
  background: #e5e7e4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e7e4 0%, #95b3b2 100%) fixed;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e7e4 0%, #95b3b2 100%) fixed;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e7e4 0%, #95b3b2 100%) fixed;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e4', endColorstr='#95b3b2',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 20px 2px #292929;
  -moz-box-shadow: 0px 0px 20px 2px #292929;
  box-shadow: 0px 0px 20px 2px #292929;
  display: inline-block;
  text-align: center; }
  nav .navbar_container .nav {
    margin: 7.5px 0px;
    padding-left: none; }
    nav .navbar_container .nav li > a {
      padding: 15px 15px 15px 15px;
      color: #292929; }
      nav .navbar_container .nav li > a:hover {
        color: #E5E7E4; }
nav .fa {
  font-size: 1.563em; }

/**************************************************************


		index (page o├╣ arrive le visiteur apres scan QR)	


****************************************************************/
/**************************************************************


		about 	


****************************************************************/
.container {
  width: 47px; }

.container_logo {
  padding: 10px;
  width: 50%; }

.presentation, .mentions_legales, .credits {
  padding: 20px;
  line-height: 20px; }

.credits a {
  color: #496665;
  text-decoration: underline; }

.mentions_legales a {
  color: #496665;
  text-decoration: underline; }

/**************************************************************


		artist 	


****************************************************************/
.artist {
  padding: 10px; }
  .artist p {
    line-height: 20px; }

.listArtwork {
  padding: 10px; }

.list_artists {
  text-align: center;
  max-width: 100%; }
  .list_artists li {
    border: 1px solid #95B3B2;
    -webkit-box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
    -moz-box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
    box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
    background-color: #FFF;
    border-radius: 10px 10px;
    font-size: 1.1em;
    padding: 10px 15px;
    margin: 15px 10px; }
    .list_artists li a {
      color: #496665; }

/**************************************************************


		exhibit 	


****************************************************************/
.date {
  font-style: italic;
  margin: 10px 0 15px 0; }

.list_artist {
  max-width: 100%;
  padding-bottom: 25px;
  padding-top: 20px; }
  .list_artist a {
    font-size: 1.2em;
    color: #292929;
    text-decoration: underline; }

.list_artwork {
  padding: 8px 0px 8px 20px;
  margin: 4px 0px;
  border: 1px solid #95B3B2;
  -webkit-box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
  -moz-box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
  box-shadow: 0px -5px 10px 2px rgba(41, 41, 41, 0.15) inset;
  background-color: #FFF;
  border-radius: 10px 10px;
  font-size: 1.1em;
  padding: 10px 15px;
  margin: 20px 10px 0px 10px; }
  .list_artwork a {
    color: #496665;
    font-size: 1em;
    text-decoration: none; }

#horaires {
  background-color: #FFF;
  padding: 10px;
  border: 2px solid #95B3B2;
  margin-top: 30px;
  text-align: center; }

/**************************************************************


		artwork	


****************************************************************/
.list_more_artwork {
  padding-bottom: 25px;
  padding-top: 20px; }
  .list_more_artwork li {
    padding: 15px 20px; }
    .list_more_artwork li .fa {
      padding-right: 10px;
      font-size: 1.5em; }

.artwork_artist_name {
  margin-bottom: 0px;
  padding: 5px;
  background-color: #FFF;
  float: right; }
  .artwork_artist_name a {
    color: #496665;
    font-size: 0.7em; }

.container_main_pic {
  margin-top: 25px; }
  .container_main_pic .container_pic {
    float: right;
    max-width: 40%;
    margin-bottom: 25px; }

.container_pic img {
  width: 100%; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery a {
    position: relative;
    display: block;
    width: 48%;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #FFF; }
    .gallery a img {
      position: absolute;
      min-width: 150%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/*# sourceMappingURL=stylefront.css.map */
