@charset "UTF-8";
/**************************************************************
		G├®n├®ral
****************************************************************/
body {
  position: relative;
  background-color: #151515;
  font-family: 'kelson', 'arial', 'helvetica', sans-serif; }

img, object, embed, video {
  max-width: 100%; }

h2 {
  font-family: 'kelson', sans-serif;
  color: #d5313a;
  font-size: 1.8em; }

h3 {
  font-family: 'kelson', sans-serif;
  color: #d5313a;
  font-size: 1.5em; }

h4 {
  font-family: 'kelson', sans-serif;
  color: #d5313a;
  font-size: 1.3 em; }

section {
  margin: 0 auto;
  width: 90%; }

p {
  color: #FFF; }

a {
  color: #FFF; }

.list {
  color: #d5313a;
  font-size: 1.3em; }

ul, li {
  list-style-type: none; }

/**************************************************************


		le nav lang


****************************************************************/
.container {
  position: fixed;
  top: 0;
  right: 10px;
  border-radius: 0px 0px 10px 10px;
  padding: 0;
  float: right; }
  .container li > a {
    display: block;
    padding: 15px; }
  .container .dropdown img {
    width: 25px;
    height: auto; }
  .container .dropdown button {
    box-shadow: 5px 0 5px rgba(60, 60, 60, 0.5);
    padding: 10px; }

/**************************************************************


		le nav	


****************************************************************/
nav .navbar_container {
  background-color: #151515;
  display: inline-block;
  text-align: center; }
  nav .navbar_container .nav {
    margin: 7.5px 0px;
    padding-left: none; }
    nav .navbar_container .nav li > a {
      padding: 15px 15px 15px 15px;
      color: #FFF; }
      nav .navbar_container .nav li > a:hover {
        color: #D5313A; }
nav .fa {
  font-size: 1.563em; }

/**************************************************************


		index (page o├╣ arrive le visiteur apres scan QR)	


****************************************************************/
/**************************************************************


		about 	


****************************************************************/
.container {
  width: 47px; }

.container_logo {
  padding: 10px;
  width: 50%; }

.presentation, .mentions_legales {
  padding: 20px;
  color: #FFFFFF;
  line-height: 20px; }

/**************************************************************


		artist 	


****************************************************************/
.artist {
  padding: 10px; }
  .artist p {
    color: #FFFFFF;
    line-height: 20px; }

.listArtwork {
  padding: 10px; }

/**************************************************************


		exhibit 	


****************************************************************/
.date {
  font-style: italic;
  margin: 25px 0; }

.artist_link {
  color: #d5313a; }

.list_expo_artist_oeuvre {
  border: 1px solid #d5313a;
  padding: 10px; }
  .list_expo_artist_oeuvre li {
    list-style-type: none;
    color: #FFF;
    padding: 10px; }
  .list_expo_artist_oeuvre a {
    padding: 25px; }

/**************************************************************


		artwork	


****************************************************************/

/*# sourceMappingURL=stylefront.css.map */
